{% assign news = site.data.data.sidebar.news %}
{% if news %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Latest News
  </h2>

  <ul class="list-unstyled interests-list">
    {% for article in news %}

      {% if article.link %}
      <li><span class="datestamp" style="font-size:0.7em;">{{ article.date }} / {{ article.source }}</span><br /><em><a target="_blank" href="{{ article.link }}">{{ article.title }}</a></em></li>
      {% else %}
      <li>{{ article.title }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div>
{% endif %}
