{% assign news = site.data.data.sidebar.news %}
{% if news %}
<div class="interests-container container-block">

  <h2 class="container-block-title">
    Latest News
  </h2>

  <ul class="list-unstyled interests-list news-list">
    {% for article in news %}

      {% if article.link %}
      <li>
        <em><a target="_blank" href="{{ article.link }}">{{ article.title }}</a></em></li>
        <p class="datestamp">{{ article.source }} <br /> {{ article.date }}</p>
      {% else %}
      <li>{{ article.title }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div>
{% endif %}
