{% assign patents = site.data.data.patents %}
{% if patents %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ patents.title }}
  </h2>

  {% if patents.intro %}
  <div class="intro">
      <p>{{ patents.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for patent in patents.assignments %}
    <div class="item">

      <span>
        {{ patent.title }}
      </span>

      {% if patent.tagline %}
      - <span class="project-tagline">{{ patent.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
